body, html {
  height: 100%;
  background: linear-gradient(55deg, #132504, #1f3613);
}

html {
  background-color: #132504;
  scroll-behavior: smooth;
}




.topnav {
  background-color:#ce5f15;
  overflow: hidden;
  border-radius: 25px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color:#704020;
  color:lightgrey;
}

.topnav a:active {
  background-color:beige;
  color: black;
}

.topnav .icon {
display:none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.bg-image {
  background-image: url("https://i.postimg.cc/597RW66z/me.jpg");
  filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#mybutton {
  background-color: #704020; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.aboutme {
  color: white;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}
#head-about {
  text-decoration: underline;
}
.aboutme p {
  font-style: normal;
}


.projects {
  color: white;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

.contact {
  color: white;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}
.contact p {
  font-style: normal;
  
}

#how-i-came {
  text-align: left;
}

#explain {
  text-align: left;
}
#about {
  text-align: left;
}

#camp, #robinhood, #school, #bootcamp {
  text-decoration: none;
  font-style: italic;
}
